@use "./src/styles/abstracts/functions" as media;

.input__field__container {
  //margin-bottom: 32px;
  position: relative;

  @include media.desktop {
    padding-top: 14px;
    //margin-bottom: 40px;
  }

  .input__field_wrap {
    border: 2px solid transparent;
    position: relative;

    &.input__field__active {
      border: 2px solid #26c2ae;
    }

    &.input__field__error {
      border: 2px solid red;

      .error__massage {
        visibility: visible;
      }
    }

    &:before {
      /*background: url(../img/icon-dollar.svg) no-repeat;*/
    }
  }
}

.input__field__label {
  margin-bottom: 6px;
  display: block;
}

//.input__user_wrap {
//  position: relative;
//
//  &.error {
//    border: 1px solid #e17457;
//  }
//
//  &:before {
//    content: "";
//    width: 15px;
//    height: 16px;
//    position: absolute;
//    left: 20px;
//    top: 0;
//    bottom: 0;
//    margin: auto;
//  }
//}

.input__field {
  color: #00474b;
  font-family: "Space Mono";
  font-weight: 700;
  font-size: 24px;
  line-height: 36px;
  text-align: right;
  background: #f3f9fa;
  height: 48px;
  padding-left: 50px;
}

.error__massage {
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
  text-align: right;
  color: #e17457;
  position: absolute;
  right: 0;
  top: 0;
  //visibility: hidden;
}

.input__field__img {
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto;
  left: 20px;

  img {
    width: 100%;
    height: 100%;
    object-fit: contain;
  }

  &.img__bill {
    width: 10px;
    height: 16px;
  }

  &.img__people {
    width: 13px;
    height: 16px;
  }
}
