@use "../styles/abstracts";
@use "../styles/abstracts/functions" as media;

.layout {
  padding: 0 32px;

  @include media.desktop {
    display: flex;
    padding-left: 45px;
    gap: 48px;
  }
}

.page__wrap {
  background: #c5e4e7;
  min-height: 100%;

  @include media.desktop {
    display: flex;
    align-items: center;
    height: 100%;
    justify-content: center;
    flex-direction: column;
  }
}
